.grid{
  margin-top: 5rem;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    grid-gap: 0px 0rem;
    background-color: rgb(204, 236, 255);
   
  }

  .body{
    background-color: rgb(255, 255, 255) !important;
    
  }
  .icodev{
margin-top: 6rem;
  }