:root {
  --duration: 5s;
  --duration-double: 10s; 
  --color-background: #222;
  --color-foreground: #ddd;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;

  box-sizing: border-box;

  border: 0 !important;
  border-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
.textoverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

li {list-style-type: none;}






.aboutgrid {
  margin-top: 5rem;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  grid-gap: 0px 0rem;
  background-color: rgb(204, 236, 255);
}

.allbody {
  padding-left: 15rem;
}

.active {
  color: #d50000;
}
.downnail {
  margin-top: 1rem;
}
.dotio {
  visibility: visible;
}
.dotio:hover {
  visibility: visible;
}
.downthub:hover + .dotio {
  display: block;
}

.ld {
  flex: 0.3;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.ld::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.ld {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.borders {
  border-radius: 100px;
}

.star42 {
  /* width: 200vh; */
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

* {
  box-sizing: border-box;
}
.sp {
  width: 100%;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.page {
  display: inline;
  /* height: 100vh; */
  /* max-width: 1300px; */
  /* width: 99vw; */
}

.LeftPage {
  /* flex: 0.3; */
  /* height: 100vh; */
  height: 100%;
  /* width: 240; */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: #111; */
  overflow-x: hidden;
  /* padding-top: 20px; */
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
}
/* .LeftPage::-webkit-scrollbar {
  width: 0.5rem;
}

.LeftPage::-webkit-scrollbar-track {
  background: (189, 231, 255);
}

.LeftPage::-webkit-scrollbar-thumb {
  background: #1e88e5;
  border-radius: 0.2rem;
}

.LeftPage::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 110, 255);
} */

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #3a3232;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #3d3d3d;
}

.searchTerm:focus {
  color: #1e1e1f;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #2c2e2e;
  background: #262929;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.medium {
  flex: 1;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
/* .medium::-webkit-scrollbar {
  width: 0.5rem;
}

.medium::-webkit-scrollbar-track {
  background: (189, 231, 255);
}

.medium::-webkit-scrollbar-thumb {
  background: #1e88e5;
  border-radius: 1rem;
}

.medium::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 110, 255);
} */

.rightmedium {
  flex: 0.3;
  overflow-y: scroll;
}
.hellowow {
  position: relative;
  top: -100;
}
.searchcodepress {
  width: 100%;
  /* border-color: white; */
  border: none;
  :active {
    border: none;
  }
}
.vc {
  margin-top: 0.5rem;
}

/* ::-webkit-scrollbar {
disp
}  */

.hr1 {
  color: #ff0000;
  width: 100%;
  height: 7px;
}
.star {
  overflow: hidden;
  white-space: nowrap;
}
.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebarOption:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}

.sidebarOption > .MuiSvgIcon-root {
  margin: 20px;
}

.sidebarOption > h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}

.sidebarOption--active {
  color: var(--twitter-color);
}

.scroll {
  /* margin: 4px, 4px; */
  /* padding: 4px; */
  /* background-color: white; */
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

/* .container .input {
  border: 0;
  outline: none;
  color: #8b7d77;
}

.search_wrap {
  width: 100%; 
  
  
 
} */

/* .search_wrap .search_box {
  position: relative;
  width: 100%;
  height: 3rem;
}

.search_wrap .search_box .input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.625rem 1.25rem;
  border-radius: 0.1875rem;
  font-size: 1rem;
  border: 0.125rem solid #1a73e8;
}


.search_wrap .search_box .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 100%;
  background: #1a73e8;
  z-index: 1;
  cursor: pointer;
}
.search_wrap .search_box .btn:hover {
  background: #1a73e8;
}
.search_wrap .search_box .btn.btn_common .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.25rem;
}
.search_wrap.search_wrap_3 .search_box .input {
  padding-right: 5rem;
}

.search_wrap.search_wrap_3 .search_box .input {
  border-radius: 3.125rem;
}
.search_wrap.search_wrap_3 .search_box .btn {
  right: 0px;
  border-radius: 50%;
}
.SearchIcon{
  height: 1rem !important;
  width: 1rem !important;
} */

.authg {
  margin-top: 13rem !important;
}

.nap {
  font-family: "Raleway", sans-serif !important;
  font-size: 2.5rem !important;
  cursor: pointer !important;
}
@media screen and (max-width: 480px) {
  .nap {
    font-size: 1.5rem !important;
  }
}

.ve {
  margin-top: 2rem;
}
.sidenavbarx {
  display: inline;
  top: 0;
}
.inlinex {
  display: inline;
}

.menuicon {
  display: inline;
}

.leftspace {
  margin-left: 240px;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* button */
::-webkit-scrollbar-button {
  background: #222; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #333; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666; 
}
/* Track */
::-webkit-scrollbar-track {
  background: #000; 
}
/* The track NOT covered by the handle.
::-webkit-scrollbar-track-piece {
  background: #000; 
}
/* Corner */
::-webkit-scrollbar-corner {
  background: #999; 
}
/* Resizer */
::-webkit-resizer {
  background: #111; 
}
.expn{
  margin-left: -14px;
}

.scroll-parent {
  position: relative;
  width: 100vw;
  height: 2.5rem;
  overflow-x: hidden;
 margin-bottom: 1rem;
}

.scroll-element {
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0%;
  top: 0%;
  animation: primary 13s linear infinite;
}

@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

.primary {
  animation: primary 20s linear infinite;
  margin: 0 auto;
}

.secondary {
  animation: secondary 20s linear infinite;
}

@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes secondary {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}



.fosstubeicon{
  vertical-align: bottom;
  display: inline;
}


.MuiFab-root{
  background-color: #ffffff !important;
  color: #000000 !important;
}