.Box{

    padding: 80px 60px;
background: white;

width: 100%;


@media (max-width: 1000px) {
	padding: 70px 30px;
}
}


.Container{
    display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1000px;
	margin: 0 auto;
	/* background: red; */
}

