html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-y: scroll;
    /* overflow-x: hidden; */
    /* background-color: rgb(217, 241, 255); */
    background-color: #e3f2fd;
    box-sizing: border-box;
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}




::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: (189, 231, 255);
}

::-webkit-scrollbar-thumb {
  background: #1e88e5;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 110, 255);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebarOption:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}

.sidebarOption > .MuiSvgIcon-root {
  margin: 20px;
}

.sidebarOption > h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}

.sidebarOption--active {
  color: var(--twitter-color);
}


/* search bar */

.container .input {
  border: 0;
  outline: none;
  color: #8b7d77;
}

.search_wrap {
  width: 100%; 
  
   /* margin: 38px auto; */
 
}

.search_wrap .search_box {
  position: relative;
  width: 100%;
  height: 3rem;
}

.search_wrap .search_box .input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.625rem 1.25rem;
  border-radius: 0.1875rem;
  font-size: 1rem;
  border: 0.125rem solid #42a5f5;
  transition: 0.1s;
}
.search_wrap .search_box .input:hover {
  border: 0.125rem solid #1976d2;
  transition: 0.1s;
}

.search_wrap .search_box .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 100%;
  background: #1976d2;
  z-index: 1;
  cursor: pointer;
}
.search_wrap .search_box .btn:hover {
  background: #1565c0;
}
.search_wrap .search_box .btn.btn_common .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.25rem;
}
.search_wrap.search_wrap_3 .search_box .input {
  padding-right: 5rem;
}

.search_wrap.search_wrap_3 .search_box .input {
  border-radius: 3.125rem;
}
.search_wrap.search_wrap_3 .search_box .btn {
  right: 0px;
  border-radius: 50%;
}
.SearchIcon{
  height: 1rem !important;
  width: 1rem !important;
}
/* end search bar */


.authg{
  margin-top: 
  13rem;
}