.Home {
  width: 10.625rem;
  height: 3.75rem;
  border: none;
  color: white;
  padding: 0.938rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;
  border-radius: 100rem;
  cursor: pointer;
  background: linear-gradient(90deg, #0051ff, #00ddff);
 transition: 0.3s;
margin-left: ;
}
.Home:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
  content: "Float";
  width: 12.5rem;
  height: 4.375rem;
}



.Code {

  width: 9.0625rem;
  height: 3.75rem;
  background: linear-gradient(90deg, #0051ff, #00ddff);
  border: none;
  color: white;
  padding: 0.9375rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;

  cursor: pointer;
  border-radius: 3.125rem;

  content: "Float";

  transition: 0.3s;
}
.Code:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
  content: "Float";
  width: 9.6875rem;
  height: 4.375rem;
}

.Courses {
  width: 12.5rem;
  height: 3.75rem;
  background: linear-gradient(90deg, #0051ff, #00ddff);
  border: none;
  color: white;
  padding: 0.9375rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;

  cursor: pointer;
  border-radius: 3.125rem;
  content: "Float";
  transition: 0.3s;
}
.Courses:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
  content: "Float";
  width: 13.125rem;
  height: 4.375rem;
}

.explore {
  width: 11.25rem;
  height: 3.75rem;
  color: white;

  background: linear-gradient(90deg, #276bff, #00ddff);
  border: none;
  padding: 0.9375rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 3.125rem;
  content: "Float";
  transition: 0.3s;
}
.explore:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
  content: "Float";
  width: 11.875rem;
  height: 4.375rem;
}

.Ask {
  color: white;
  width: 8rem;
  height: 3.75rem;
  background: linear-gradient(90deg, #0051ff, #00ddff);
  border: none;
  padding: 0.9375rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;

  cursor: pointer;
  border-radius: 3.125rem;
  content: "Float";
  transition: 0.3s;
}

.Ask:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  width: 8.625rem;
  height: 4.375rem;
  transition: 0.2s;
  content: "Float";
}
.i1 {
  position: relative;
  bottom: 0.1875rem;
}
.i2 {
  position: relative;
  bottom: 0.125rem;
}
.i3 {
  position: relative;
  bottom: 0.1875rem;
}
.i4 {
  position: relative;
  bottom: 0.125rem;
}
.i5 {
  position: relative;
  bottom: 0.1rem;
}



