.void {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}



.sidebar1 {
  border-right: 1px solid #1565c0;
  flex: 0.3;
  /* min-width: 250px; */
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  /* color: #2196f3; */

  text-decoration: none;
}

.active {
  text-decoration: none;
}

.sidebar__tweet1 {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: rgb(255, 255, 255) !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
}

.cc4 {
  text-decoration: none;
  color: #212121;
}

.sidebar {
  border-right: 1px solid var(--twitter-background);
  flex: 0.3;
  /* min-width: 250px; */
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.sidebartwitterIcon {
  color: var(--twitter-color);
  font-size: 30px !important;
  margin-left: 20px;
  margin-bottom: 20px;
}

.sidebartweet {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: rgb(255, 255, 255) !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
}
.sidebartweets {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: rgb(255, 255, 255) !important;
  /* font-weight: 900 !important; */
  text-transform: inherit !important;
  border-radius: 30px !important;
  /* height: 50px !important; */
  /* margin-top: 20px !important; */
}
.feed {
  flex: 0.5;
  border-right: 1px solid var(--twitter-background);
  min-width: fit-content;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.feed::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.feed {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.feed__header {
  position: sticky;
  top: 0;
  z-index: 100;
 
}


.t__t {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 100px;
  height: 40px !important;
  margin-top: -10px !important;
  /* margin-left: auto !important; */
}

.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetBox__input {
  padding: 20px;
  display: flex;
}

.tweetBox__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.tweetBox__imageInput {
  border: none;
  padding: 10px;
}

.tweetBox__tweetButton {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 80px;
  height: 40px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
}
.anything {
  border-radius: 20px;

  border: none;
  outline: none;
  padding: 0rem 1rem;
}

.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
  outline: 4px solid rgb(255, 255, 255);
}

.post__body {
  flex: 1;
  padding: 10px;
}

.post__body > img {
  border-radius: 20px;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post__headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post__badge {
  font-size: 14px !important;
  color: var(--twitter-color);
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post__avatar {
  padding: 20px;
}

.w__i {
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  margin: 10px;
  border-radius: 20px;
  /* margin-top: 10px; */
  /* margin-left: 20px; */
}
.pick {
  border-radius: 50px;
  border: none;
  outline: none;
}
.pick2 {
  position: relative;
  left: 200px;
}
.widgets {
  flex: 0.3;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.widgets::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.widgets {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.widgets__input {
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.widgets__input > input {
  border: none;
  background-color: var(--twitter-background);
}

.widgets__searchIcon {
  color: gray;
}

.widgets__widgetContainer {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;
}

.widgets__widgetContainer > h2 {
  font-size: 16px;
  font-weight: 600;
}
