.Swiper {
  margin-bottom: 20rem;
  display: flex;
  margin-top: 6rem;
}


.grid{
  
  display: inline-grid;
  grid-template-columns: auto auto auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  grid-gap: 0px 0rem;
  background-color: rgb(204, 236, 255);
 
} 

@media only screen and (max-width: 600px) {

  .grid{
  
    display: inline-grid;
    grid-template-columns: auto auto auto;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    grid-gap: 0px 0rem;
    background-color: rgb(204, 236, 255);
   
  } 


}