.block {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    padding: 0.1%;
    width: 100%;
    height: 2.9rem;
    opacity: 0.9;
    z-index: 1;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  
  .bo {
    margin-left: 1rem;
    background: linear-gradient(90deg,#0099ff,#1291b8,#1b7ec0,#006eff,#0077ff,#005aa3);
    background-size:400% ;
    font-size: 2.5rem;
    font-family: sans-serif;
    letter-spacing: 5px;
    /* font-weight: 600; */
    word-spacing: 5px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
  }
  
  @keyframes animate{
    0%{
      background-position: 0%;
  
    }
    100%{
      background-position: 400%;
    }
  }




  .eshow{
    cursor: pointer;
    
    }
    .eshow:hover {
        transition: 0.1s;
        color: rgb(255, 255, 255);
        background: #0277bd;
      }
    .eshow1img{
        display: inline-block;
    }
    .eshow1text{
        display: inline-block;
        font-size: 2rem;
     
    }
    
    
    .eshow2img{
     display: inline-block;
    }
    .eshow2text{
       display: inline-block;
        font-size: 2rem;   
    }
    
    
    .eshow3img{
     display: inline-block;
    }
    .eshow3text{
         display: inline-block;
        font-size: 2rem; 
    }
    
    
    .eshow4img{
     display: inline-block;
    }
    .eshow4text{
        display: inline-block;
        font-size: 2rem;  
    }