.Box{

    padding: 80px 60px;
background: white;

width: 100%;


@media (max-width: 1000px) {
	padding: 70px 30px;
}
}


.Container{
    display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1000px;
	margin: 0 auto;
	/* background: red; */
}

.Column{
    display: flex;
flex-direction: column;
text-align: left;
margin-left: 60px;
}
.Row{
    display: grid;
grid-template-columns: repeat(auto-fill,
						minmax(185px, 1fr));
grid-gap: 20px;

@media (max-width: 1000px) {
	grid-template-columns: repeat(auto-fill,
						minmax(200px, 1fr));
}
}

.FooterLink{
    color: grey;
margin-bottom: 20px;
font-size: 18px;
text-decoration: none;

&:hover {
	color: black;
	transition: 200ms ease-in;
}
}

.Heading{
    font-size: 24px;
color: grey;
margin-bottom: 40px;
font-weight: bold;
}