
.ve{
  margin-top: 2rem;
}
/* Login */
.Container {
  padding: 0px;
}
.Nav {
  max-width: "100%";
  margin-top: 0.1rem;
  margin-right: 0.1rem;
  margin-left: 0.3rem;
  padding: 0rem 0 16px;
  display: flex;

  align-items: center;
  position: relative;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.ha {
  width: 85px;
  height: 64px;
  @media (max-width: 768px) {
    padding: 0 5px;
  }
}
.Join {
  font-size: 16px;
  padding: 10px 12px;
  text-decoration: none;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
  margin-right: 0.5rem;
  margin-left: 1rem;
}
.Join :hover {
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
}
.SignIn {
  box-shadow: inset 0 0 0 1px #0a66c2;
  color: #0a66c2;
  margin-right: 0.5rem;

  border-radius: 24px;
  transition-duration: 167ms;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  padding: 10px 24px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}
.SignIn:hover {
  background-color: rgba(112, 181, 249, 0.15);
  color: #0a66c2;
  text-decoration: none;
}
.Section {
  display: flex;
  align-content: start;
  min-height: 700px;
  padding-bottom: 138px;
  padding-top: 40px;
  padding: 60px 0;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1128px;
  align-items: center;
  margin: auto;
  @media (max-width: 768px) {
    margin: auto;
    min-height: 0px;
  }
}

.hb {
  /* padding-bottom: 0; */
  width: 55%;
  font-size: 3.5rem;
  color: #2977c9;
  font-weight: 200;
  line-height: 4.375rem;
}

.message {
  width: 50%;
  display: flex;
  @media (max-width: 768px) {
    top: 230px;
    width: initial;
    position: initial;
    height: initial;
  }
}

.Form {
  margin-top: 1000px;
  width: 408px;
  margin-top: 10rem !important;
  @media (max-width: 768px) {
    margin-top: 20px;
  }
}

.Google {
  display: flex;
  justify-content: center;
  background-color: #fff;
  align-items: center;
  height: 56px;
  width: 100%;
  border-radius: 28px;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 60%),
    inset 0 0 0 2px rgb(0 0 0 / 0%) inset 0 0 0 1px rgb(0 0 0 / 0);
  vertical-align: middle;
  z-index: 0;
  transition-duration: 167ms;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  border: 0.125rem solid #42a5f5;
}

.Google:hover {
  background-color: white;
  color: rgba(0, 0, 0, 0.75);
  border: 0.125rem solid #1976d2;
}



.person{
  height: 200px !important;
  width: 200px !important;
  /* color: rgb(0, 255, 213); */
  color: var(--twitter-color) !important;
}


/* Navbar Logo */
.nap {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .nap {
    font-size: 1.5rem;
  }
}

/* Show.jsx */
.G {
  display: flex;
  align-content: start;
  min-height: 700px;
  padding-bottom: 138px;
  padding-top: 40px;
  padding: 60px 0;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1128px;
  align-items: center;
  margin: auto;
  @media (max-width: 768px) {
    margin: auto;
    min-height: 0px;
  }
}
.hero1 {
  width: 100%;
}
.hero1img {
  width: 40%;
  height: auto;
  float: left;

  @media (max-width: 768px) {
    top: 230px;
    width: initial;
    position: initial;
    height: initial;
  }
}

.hero1h1 {
  position: absolute;
  bottom: 330px;
  right: -200px;
  padding-bottom: 0;
  width: 55%;
  float: right;
  font-size: 56px;
  color: #2977c9;
  font-weight: 200;
  line-height: 70px;
  display: flex;
  @media (max-width: 768px) {
    text-align: center;
    font-size: 20px;
    width: 100%;
    line-height: 2;
  }
}

.hero2 {
  width: 100%;
}
.hero2img {
  float: right;
  position: relative;
  right: 100rem;
}
.hero2h1 {
  float: left;
}

.hero3 {
  width: 100%;
}

.hero3h1 {
  position: absolute;
  bottom: 330px;
  right: -200px;
  padding-bottom: 0;
  width: 55%;
  float: right;
  font-size: 56px;
  color: #2977c9;
  font-weight: 200;
  line-height: 70px;
  display: flex;
  @media (max-width: 768px) {
    text-align: center;
    font-size: 20px;
    width: 100%;
    line-height: 2;
  }
}

.hero3img {
  width: 40%;
  height: auto;
  float: left;

  @media (max-width: 768px) {
    top: 230px;
    width: initial;
    position: initial;
    height: initial;
  }
}
.ox {
  white-space: nowrap;
  text-decoration: none;
}
.cour {
  margin-bottom: 5rem;
}

/* Navigate */

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.boder {
  border: 0.1rem;
  margin: 50rem;
}

.boo2 {
  border: 0.2rem solid blue;
  margin: 3rem;
}

.clogo {
  margin-left: 1rem;
  position: fixed;
  margin-top: 0.3rem;
}

.explorepaper1 {
  text-align: left;
  font-size: 2rem;
  margin-left: 1rem;
  color: rgb(168, 168, 42);
}

.load {
  text-align: center;

  display: flex;

  justify-content: center;

  align-items: center;
  margin-bottom: 10rem;
}
.he {
  z-index: 200;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  color: rgb(0, 47, 255);
}

.homo1 {
  margin-left: 7%;
  color: #3d87db;
  display: inline;
  margin-bottom: 1%;
}

.homo2 {
  display: inline;
}

i.z {
  position: relative;
  top: 0.25rem;
}

.x {
  mix-blend-mode: multiply;
}

.cc {
  position: absolute;
  top: 10px;
  left: 180px;
}

.hr {
  border: 0.3125rem solid grey;
}
@media only screen and (max-width: 600px) {
  .hr {
    border: 0.125rem solid grey;
  }
}

.td {
  color: grey;
  margin-bottom: 20px;
  font-size: 18px;
  text-decoration: none;
}

.tel {
  text-decoration: none;
}

.o {
  width: 50%;
  height: auto;
}

.oo {
  width: 50%;
  height: auto;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.apple {
  text-decoration: none;
  color: #424242;
  transition: 0.3s;
}
.apple:hover {
  color: #2979ff;
  transition: 0.3s;
}
.applee {
  text-decoration: none;
  color: #424242;
  transition: 0.3s;
}
.applee:hover {
  color: #2979ff;
  transition: 0.3s;
}
.td:hover {
  color: black;
  transition: 200ms ease-in;
}

span.m {
  color: white;
  position: absolute;
  top: 20%;
  left: 75%;
  font-size: 2.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.m:hover {
  color: rgb(7, 106, 225);
  background-color: rgb(255, 255, 255);
  /* transition: 0.1s; */
  height: 60px;
  width: 60px;
  -webkit-appearance: none;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgbs(70, 70, 70, 0.12);
  position: absolute;
  top: 13%;
  left: 74.5%;
  /* transform: translate(-50%,-50%);  */
  border-radius: 50%;
  border: 8px solid #ececec;
  outline: none;
  display: flex;
}

span.mmm {
  color: white;
  position: absolute;
  top: 20%;
  left: 95%;
  font-size: 2.5rem;
  cursor: pointer;
}

span.custommii {
  color: white;
  position: absolute;
  top: 1.25rem;
  left: 96.25rem;
  cursor: pointer;
  transition: all 0.5s;
}

span.custommii:hover {
  color: rgb(44, 148, 248);
  transition: all 0.5s;
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* search bar */

.container .input {
  border: 0;
  outline: none;
  color: #8b7d77;
}

.search_wrap {
  width: 100%;

  /* margin: 38px auto; */
}

.search_wrap .search_box {
  position: relative;
  width: 100%;
  height: 3rem;
}

.search_wrap .search_box .input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.625rem 1.25rem;
  border-radius: 0.1875rem;
  font-size: 1rem;
  border: 0.125rem solid #42a5f5;
  transition: 0.1s;
}
.search_wrap .search_box .input:hover {
  border: 0.125rem solid #1976d2;
  transition: 0.1s;
}

.search_wrap .search_box .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 100%;
  background: #1976d2;
  z-index: 1;
  cursor: pointer;
}
.search_wrap .search_box .btn:hover {
  background: #1565c0;
}
.search_wrap .search_box .btn.btn_common .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.25rem;
}
.search_wrap.search_wrap_3 .search_box .input {
  padding-right: 5rem;
}

.search_wrap.search_wrap_3 .search_box .input {
  border-radius: 3.125rem;
}
.search_wrap.search_wrap_3 .search_box .btn {
  right: 0px;
  border-radius: 50%;
}

/* end search bar */

.ac {
  margin-bottom: 2.5rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: 3.125rem;
}

.top-pane {
  background-color: transparent;
}

.pane {
  height: 100% !important;
}

.editor-container {
  background-color: hsl(225, 6%, 25%);

  padding: 1rem;
  height: 100%;
  width: 100%;
}

.editor-title {
  justify-content: space-between;
  background-color: hsl(225, 6%, 13%);
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.CodeMirror {
  height: 11.5rem !important;
}

.code-mirror-wrapper {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
